{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div>
        <div class="stunning-header overlay" data-bg-img="{% static 'img/bg/inback.jpg' %}">
            <div class="sb-container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="stunning-header-content text-white text-center">
                            <h5>AI BOT</h5>
                            <h2>HEALTH CARE BOT</h2>
                            <p>AI healthcare bot is an artificial intelligence (AI) system that is designed to assist and support healthcare professionals, patients, and their families in a variety of ways. Healthcare bots can be used in a wide range of healthcare settings, from hospitals and clinics to home healthcare.</p>
                            <a href="{% url 'homepage' %}" class="btn-link">Back To Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="chose-us pt-120 pb-90">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="section-title text-center">
                            <h2>Why Choose Us?</h2>
                            <p>Healthcare bots can help improve the efficiency and effectiveness of healthcare services, <br>while also providing patients with more convenient access to healthcare information and support!</p>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters justify-content-center">
                    <div class="col-lg-4 col-sm-6">
                        <div class="single-choose text-center">
                            <div class="icon"><img src="{% static 'img/icons/choose1.svg' %}" alt="" class="svg"></div>
                            <div class="content">
                                <h3>Providing Medical Advice</h3>
                                <p> Healthcare bots can provide patients with basic medical advice and guidance on how to manage their symptoms or conditions.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="single-choose active text-center">
                            <div class="icon"><img src="{% static 'img/icons/choose2.svg' %}" alt="" class="svg"></div>
                            <div class="content">
                                <h3>Answering frequently asked questions</h3>
                                <p>Healthcare bots can provide answers to frequently asked questions about healthcare services, insurance coverage, and other related topics.<equipment class=""></equipment></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="single-choose text-center">
                            <div class="icon"><img src="{% static 'img/icons/choose3.svg' %}" alt="" class="svg"></div>
                            <div class="content">
                                <h3>Assisting with medication </h3>
                                <p>Healthcare bots can help patients manage their medications</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="create-account pt-120 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="create-account-content">
                            <div class="section-title style--two text-white">
                                <h2>How to Health care bot can improve your life?</h2>
                                <p>Health care bots, or chatbots designed for health-related purposes, have the potential to improve our lives in several ways:</p>
                            </div>
                            <ul class="feature-list text-white">
                                <li class="media">
                                    <div class="icon"><img src="{% static 'img/icons/paper.svg' %}" alt="" class="svg"></div>
                                    <div class="content media-body">
                                        <h3>Improved accessibility</h3>
                                        <p> Health care bots can provide round-the-clock accessibility to health-related information, allowing people to ask questions and receive immediate answers without needing to wait for a doctor's appointment.</p>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="icon"><img src="{% static 'img/icons/earning.svg' %}" alt="" class="svg"></div>
                                    <div class="content media-body">
                                        <h3>Increased efficiency</h3>
                                        <p> Health care bots can help streamline administrative tasks, such as appointment scheduling, prescription refills, and medical record management, freeing up healthcare providers to focus on more complex cases.</p>
                                    </div>
                                </li>
                            </ul>
                            <a href="{% url 'healthbot' %}" class="btn btn-white">learn more</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="create-account-img"><img src="{% static 'img/bg/acc.jpg' %}" alt=""> <img src="{% static 'img/icons/dot-shape.png' %}" alt="" class="dot-shape"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="feature layer pb-40 pt-120">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="section-title text-center">
                            <h2>Extra Features</h2>
                            <p>Health care bots have the potential to significantly improve our lives by providing convenient and<br> accessible access to medical information and assistance. Here are some extra features that can enhance the effectiveness of a healthcare bot</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <div class="single-feature style2">
                            <div class="img"><img src="{% static 'img/icons/feature7.png' %}" alt=""></div>
                            <div class="content">
                                <a href="#">
                                    <h3>Personalization</h3>
                                </a>
                                <p>A healthcare bot that can personalize its responses based on the user's health profile, medical history, and preferences can provide more accurate and relevant information.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="single-feature activate style2">
                            <div class="img"><img src="{% static 'img/icons/feature8.png' %}" alt=""></div>
                            <div class="content">
                                <a href="#">
                                    <h3>Virtual consultations</h3>
                                </a>
                                <p>A healthcare bot that can facilitate virtual consultations with healthcare professionals can save time and reduce the need for in-person visits.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="single-feature style2">
                            <div class="img"><img src="{% static 'img/icons/feature9.png' %}" alt=""></div>
                            <div class="content">
                                <a href="#">
                                    <h3>Game Changer</h3>
                                </a>
                                <p>Healthcare bots have the potential to be game-changers in the industry by improving patient outcomes, increasing access to care, and reducing costs.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="single-feature style2">
                            <div class="img"><img src="{% static 'img/icons/feature10.png' %}" alt=""></div>
                            <div class="content">
                                <a href="#">
                                    <h3>Mental health support</h3>
                                </a>
                                <p>A healthcare bot that can provide mental health support, can help users manage stress and improve their overall well-being.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="single-feature style2">
                            <div class="img"><img src="{% static 'img/icons/feature11.png' %}" alt=""></div>
                            <div class="content">
                                <a href="#">
                                    <h3>Emergency assistance</h3>
                                </a>
                                <p>A healthcare bot that can recognize emergency situations and provide immediate assistance or connect users with emergency services can be life-saving.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="single-feature style2">
                            <div class="img"><img src="{% static 'img/icons/feature12.png' %}" alt=""></div>
                            <div class="content">
                                <a href="#">
                                    <h3>Enhanced patient outcomes</h3>
                                </a>
                                <p>Healthcare bots can help improve patient outcomes by providing timely and accurate diagnosis, treatment recommendations, and follow-up care.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="team section-bg pt-120 pb-90">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="section-title text-center">
                            <h2>How it Works?</h2>
                            <p>AI bot involves several steps. Here is a high-level overview of the process.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <div class="team-member">
                            <div class="img"><img src="{% static 'img/media/h1.jpg' %}" alt=""></div>
                            <div class="content">
                                <h3>Defining The Problem</h3>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="team-member">
                            <div class="img"><img src="{% static 'img/media/h2.png' %}" alt=""></div>
                            <div class="content">
                                <h3>Collecting data</h3>


                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="team-member">
                            <div class="img"><img src="{% static 'img/media/h3.jpg' %}" alt=""></div>
                            <div class="content">
                                <h3>Training the bot</h3>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="team-member">
                            <div class="img"><img src="{% static 'img/media/h4.jpg' %}" alt=""></div>
                            <div class="content">
                                <h3>Developing the interface</h3>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="team-member">
                            <div class="img"><img src="{% static 'img/media/h5.jpg' %}" alt=""></div>
                            <div class="content">
                                <h3>Test and refine</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="team-member">
                            <div class="img"><img src="{% static 'img/media/h6.jpg' %}" alt=""></div>
                            <div class="content">
                                <h3>Launch and monitor</h3>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}